<div class="note-containing-div"> 

<ol class="note">
    {{#each this}}
    <li>
        <div class="meta">
        {{format_date created_at}}
        </div>
        
        <p class="text" type="text">
            {{note_text}}
        </p>
        
        <a  class="admin-link" href='/dashboard/note/{{id}}'>Edit Note</a> 
     </li>
     {{/each}}
    </ol>
    
    </div>