<div> 
{{#each this}}
<section class="comment">
        <div class="meta">
        {{format_date created_at}}
        </div>
        <div class="text">
            {{note_text}}
        </div>
        <a href='/dashboard/note/{{id}}'>Edit Note</a> 
    </section>
    {{/each}}
    </div>