<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make 20k per month</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/media-queries.css">
</head>
<body>
   
     
    <main> 
    {{#if loggedIn}}
    <header>
        <nav>
            <button id="logout">logout</button>
            <a class="admin-link" id="nav-link" href="/dashboard">&larr; Back to the dashboard</a>        
        </nav>
    </header>
    {{/if}}    
       
      
    {{{ body }}}
    </main>
    
    
</body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
<script src="/javascript/image-setter.js"></script>
</html>