<section>
    <h2>Add A New Lead</h2>
    <form class="new-lead-form">
        <div>
            <label for="lead-first-name">First Name</label>
            <input type="text" id="lead-first-name" name="lead-first-name">
        </div>
        <div>
            <label for="lead-last-name">Last Name</label>
            <input type="text" id="lead-last-name" name="lead-last-name">
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="phone-number">Phone Number</label>
            <input type="text" id="phone-number" name="phone-number">
        </div>
        <button type="submit">Add Lead</button>
    </form>
</section>
<section>
    <h2>Current Leads</h2>
    <ol>
        {{#each leads as |lead|}}
        <li>
      {{> lead-info lead}}
        </li>
        {{/each}}
    </ol>

</section>