   <!--lead capture form-->
<article  class="lead-form-article "> 
 <form class="new-lead-form">
     <div class="form-cta"> 
          <h3 class="color-change">Make 20k this month!</h3>
    <p class="color-change" >get started today!</p>
    </div>
            <label for="lead-first-name">First Name</label>
            <input type="text" id="lead-first-name" name="lead-first-name">
        
       
            <label for="lead-last-name">Last Name</label>
            <input type="text" id="lead-last-name" name="lead-last-name">
        
        
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
       
        
            <label for="phone-number">Phone Number</label>
            <input type="tel" id="phone-number" name="phone-number">
        
        <button type="submit">Submit</button>
    </form>
</article>

  <article class="elavator-pitch"> 
<h1 class="outcast-element">Would you like to make 20,000 per month from home? </h1>
<p class="outcast-element"> 
Good news! our team is currently looking for
qualified individuals to work with us on projects large and small.
</p>
<ul >
 <h3>So you may be wondering <q>what does it take to make 20k per month?</q>.</h3>
    <!--image of question mark here-->
    <h4  id="target">To answer that question we would ask you</h4>
    <li ><q>do you currently work for a dead end job?</q></li>
    <li><q>do you feel your boss is in nice terms, just a few to many explatives?</q></li>
    <li><q>are you a hard worker that is constantly under appreciated and over worked?</q></li>
    <li><q>have you always felt that you were destined for great things?</q></li>
    <li><q>do you have ambitions to take you and your family to the next level?</q></li>
    <li><q>are you ready to get started as soon as possible?</q></li>
    <li><q>do you have a whatever it takes mentality?</q></li>
</ul>
     
    <ul id="root">
        <h3>Are you answering <q>yes</q> to all of these questions? Do you want to make 20k per month?</h3> 

  <h4  >Then why not</h4>
        <li>Fill out the form above</li>
        <li>Wait to recieve a call or email in the next 24 hours</li>
        <li>Schedule an interview</li>
    </ul>
    <p id="ending-p">After the interview process we will decide if you will be a good fit for our amazing team! We look forward to
hearing from you!</p>
</article>
<script src="/javascript/add-lead.js"></script>
