<form class="login-form">
    <div>
        <label for="admin-name-login">Admin name:</label>
        <input type="text" id="admin-name-login" />
    </div>
    <div>
        <label for="password-login">Admin password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>
<script src="/javascript/login.js"></script>
