<form class="login-form">
    
        <label for="admin-name-login">Admin name:</label>
        <input type="text" id="admin-name-login" />
    
        <label for="password-login">Admin password:</label>
        <input type="password" id="password-login" />
    
    
        <button type="submit">login</button>
    
</form>
<script src="/javascript/login.js"></script>
