<article class="single-lead-container">
<div class="single-lead-info-container">
{{>lead-info lead}}
</div>

<form class="note-form">
    
        <textarea name="note-body"></textarea>
   
        <button type="submit">add note</button>
    
</form>
{{> note-info lead.notes}}
 </article>

<script src="/javascript/add-note.js"></script>