<form class="note-form">
    <div>
        <textarea name="note-body"></textarea>
    </div>
    <div>
        <button type="submit">add note</button>
    </div>
</form>
{{> note-info lead.notes}}

<script src="/javascript/add-note.js"></script>