/*this is the article that holds the un ordered lists from lead-capture.handlebars ending*/
/*All styles above look good on mobile devices everything below will address screen sizes 768px and above*/

@media screen and (min-width: 768px){
    /*styles for form begin*/
  .new-lead-form{
      width: 80%;
      height: 365px;

  }
  .new-lead-form input{
    width: 99%;
    margin-bottom: 10px;
    height: 10%;
    font-size: 20px;
    font-weight: bolder;
     
  }

   .new-lead-form button{
    font-size: 16px;
    height: 15%;
    width: 99%;
    font-size: 100%;
  } 
 label {
      font-size: .98em ;
  }

  .form-cta h3 {
      font-size: 1.33em ;
  }
  .form-cta p {
      font-size: 1.05em ;
  }

   /*styles for form end*/

   /*this is the article that holds the un ordered lists from lead-capture.handlebars*/
   .elavator-pitch p{
    font-size: 1.88em;
    margin: .88em;
    }
    
    h1{
        font-size: 2.38em;
       
    }
    h3 {
        font-size: 2.11em;
        margin: .25em;
    }
    h4{
        font-size: 1.78em;
    }
    
    li {
        font-size: 1.43em;
    }

}

@media  screen and (min-width: 912px) {
    .form-cta h3 {
        font-size: 1.88em;
    }

    .form-cta p {
        font-size: 1.38em;
    }

    .new-lead-form {
        height: 375px;
    }
}

@media  screen and (min-width: 1024px) {

    .lead-form-article {
    
        position:static;
        margin-bottom: 0%;
       
        
        }

    /*styles for form begin*/
  .new-lead-form{
    width: 92%;
    height: 60%;
    margin-top: 20%;

}
.new-lead-form input{
  width: 99.7%;
  font-size: 20px;
  font-weight: bolder;
  height: 3%;
}

 .new-lead-form button{
    font-size: 35px;
    width: 99.8%; 
} 
label {
    font-size: 1.22em ;
}

.form-cta h3 {
    font-size: 1.64em ;
}
.form-cta p {
    font-size: 1.11em ;
}

 /*styles for form end*/

 /*this is the article that holds the un ordered lists from lead-capture.handlebars*/
 .elavator-pitch p{
    font-size: 2.73em;
   
    }
    
    h1{
        font-size: 3.20em;
       
    }
    h3 {
        font-size: 2.80em;
       
    }
    h4{
        font-size: 2.48em;
    }
    
    li {
        font-size: 2.15em;
    }

    
}

/*1366px*/
@media screen and (min-width: 1280px) {
    .lead-form-article {
    
    position:static;
    margin-bottom: 0%;
   
    
    }
    
    .new-lead-form{
        width: 40%;
        height: 380px;
        margin-top: 100px;
      
    
    }
    .new-lead-form input{
      width: 99.7%;
      font-size: 15px;
      font-weight: bolder;
      
    }
    
     .new-lead-form button{
        font-size: 15px;
        width: 99.8%; 
    } 
   
    label {
        font-size: 1em ;
    }
    
    

    
}

@media screen and (min-width: 1920px) {
    .lead-form-article{
        max-height: 60vh;
    }
    
    .new-lead-form{
        width: 45%;
        height: 480px;
        margin-top: 80px;
      
    
    }
    .new-lead-form input{
      width: 99.7%;
      font-size: 25px;
      font-weight: bolder;
      
    }
    
     .new-lead-form button{
        font-size: 30px;
        width: 99.8%; 
    } 

    label {
        font-size: 1.42em ;
    }

    .form-cta h3 {
        font-size: 2.33em ;
    }
    .form-cta p {
        font-size: 2.15em ;
    }

    /*this is the article that holds the un ordered lists from lead-capture.handlebars*/
 .elavator-pitch p{
    font-size: 2.93em;
   
    }
    
    h1{
        font-size: 3.40em;
       
    }
    h3 {
        font-size: 3em;
       
    }
    h4{
        font-size: 2.68em;
    }
    
    li {
        font-size: 2.35em;
    }


}

/*media queries addressing admin side of the site*/
/*ipads*/
@media screen and (min-width: 768px) {

    /*conditional header styles start*/
    nav button {
      width: 11vw;
      height: 4vh;
      font-size: 1.33em;
      margin-right: 30%;
    }
    


    /*conditional header styles ends*/

    /*login.handlebars starts*/
  
    
    .login-form button {
     font-size: 1.66em;
    }
    
    .login-form label {
  margin: 0%;
  font-size: 2em;
    }
    
    .login-form input {
      font-size: 2.33em;
    }
    /*login.handlebars ends*/

/*styles most links*/
 .admin-link { 
     
    font-size: clamp(1.20rem, 2.88vw, 3rem);  

}
/*================================================*/

/*edit-lead.handlebars starts*/
.edit-lead-form-conatainer h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3.66em;
}

.edit-lead-form {
    height: 60vh;
}

.edit-lead-form input {
    font-size: 1.33em;  
    
 
}

.edit-form-btn-container button {
    font-size: 1.33em;
}

.edit-lead-info-link-container{
    font-size: clamp(1.20rem, 2.88vw, 3rem);
    margin-top: 8%;
}
/*edit-lead.handlebars ends*/

/*single-note.handlebars (edit note)starts*/
.single-note-edit{
    border: 2px solid #0E8044;
    border-radius: 18px;
    margin:4% 11%;
}

.single-note-edit h1 {
 margin-top: 18%;
 font-size: 5rem;
}
.single-note-edit h3 {
 margin-top: 4%;
}

.edit-note-form{
    height: 50vh;
    margin-top: 20%;
}

.edit-note-form textarea {
    height: 11vh ;
    width: 35vw;
    font-size: 1.08em;
}

.save-note-button, .delete-note-btn {
    font-size: 1.33em;
    margin-top: 22%;
 
}
/*single-note.handlebars (edit note)ends*/



}

/*average desktop size 1*/

@media screen and (min-width: 1366px) {
    header {
        margin-bottom: 30px;

        /*set this to 200 but it is really not a solution... my vh in the dashboard are effecting how I needd to style the header as far as margin top, really in the "lead-section" 
        of dasboard  I think
        I can set the vh to a lower number so as to not give header so much top padding,
         and therefor helping fix its inconsistanceies
        across application*/
        /* margin-top: 200px; */

        
    }

   .lead-section{
    max-height: 30vh;
   }

   .lead-section h1 {
    font-size: 3em;
}

   /*edit-lead.handlebars starts*/

   .edit-lead-form-conatainer  {
   height: 95vh;
}

    .edit-lead-form input {
        margin: 2%;
    } 

    .edit-form-btn-container button {
        margin-top: 1%;
    }

    .edit-lead-form {
        height: 70vh;
    }

    .edit-lead-form-link {
        margin-left: 8em;
    }
      /*edit-lead.handlebars ends*/

    /*add note or the single-lead.handlebars*/
  .single-lead-container{
      height: 90vh;
  }
  .note-form textarea {
      height: 12vh;
      font-size: 2em ;
  }

  .note-form button {
      font-size: 2em;
  }

  .single-lead-info-container {
    border: 3px solid #0E8044; 
  }

  .note li {
      border-top: 3px solid #0E8044;
  }
   /*add note or the single-lead.handlebars ends*/

  /*single-note.handlebars (edit note)starts*/
.single-note-edit{
  height: 73vh;
  border: 3px solid #0E8044;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.single-note-edit h1 {
 margin-top: 3%;
}
.single-note-edit h3 {
 margin-top: 2%;
}

.edit-note-form{
    
    margin-top: 1%;
}

.save-note-button, .delete-note-btn {
    font-size: 1.33em;
    margin-top: 11%;
    width: 20vw;
 
}

.save-note-button{
    
    margin-right: 25%;
}

.delete-note-btn{
    margin-left: 25%;
}
/*single-note.handlebars (edit note)ends*/

    /*dashboard.handlebars start*/
.lead-section h1 {
    font-size: 5em;
}    

.admin-ol {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
padding: 0px;
}

.admin-li{
margin-top: 11%;
border-bottom: 8px solid #0E8044;
}

.admin-link{
    margin-right: 20px ;
}
 /*dashboard.handlebars end*/

 /*login.handlebars starts*/
.login-form{
    width: 63vw;
    height: 33vh;
    border: 3px solid #0E8044;
    padding: 2%;
}

 .login-form button {
    font-size: 1.96em;
    width: 12vw;
    margin-bottom: 1%;
   }
   
   .login-form label {
 margin: 0%;
 font-size: 2em;
   }
   
   .login-form input {
     font-size: 2.33em;
     width: 60vw;
   }
   /*login.handlebars ends*/

}

/*average desktop size 2*/
@media screen and (min-width: 1920px) {
    /*button in conditional header*/
#logout{
    font-size: 1.66em ;
}
/*=========================================================*/
/*dashboard.handlebars start*/
.new-lead-form{
    height: 610px;
}

    .lead-section h1 {
        font-size: 6em;
    }   
    /*dashboard.handlebars end*/ 
    /*edit-lead.handlebars starts*/
    .edit-lead-form-conatainer h1 {
        font-size: 5.66em;
    }

    .edit-lead-form {
        border: 3px solid #0E8044;
        width: 50vw;
    }

    .edit-lead-form input{
        width: 48vw;
        font-size: 1.66em;
    }

    .edit-form-btn-container button {
       width: 12vw;
    }

    .edit-form-btn-container button {
        font-size: 1.66em;
    }
    /*edit-lead.handlebars ends*/

    /*single-note.handlebars starts*/
     .single-note-edit h1 {
        font-size: 7rem; 
     }

     .single-note-edit h3 {
         font-size:  4em;
     }

     .edit-note-form textarea {
         font-size: 1.66em;
         width: 55vw;
         height: 13vh;

     }

     .note-edit-btn-container button {
         font-size:  1.66em;
     }
    /*single-note.handlebars ends*/
    
    /*login.handlebars starts*/


 .login-form button {
    font-size: 2.38em;
    width: 12vw;
    margin-bottom: 1%;
   }
   
   .login-form label {
 margin: 0%;
 font-size: 2.88em;
   }
   
  
   /*login.handlebars ends*/


}

